<a href="https://colab.research.google.com/github/Prabh-84/Mini-project-2---Marks-adding/blob/main/Mini_project_of_marks_adding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 0 - upload the csv file in files section

Step 1 - Extract a CSV file into a Pandas Dataframe

In [ ]:
import pandas as pd


# Read the csv file
df = pd.read_csv('/content/Mini Project - Marks Adding.csv')

# Print the DataFrame
print(df)

       Roll Num  Marks
0     102003542      1
1     102003640      1
2     102003725      1
3     102003307      1
4     102003458      1
...         ...    ...
1831  102003755      1
1832  102017147      1
1833  102017152      1
1834  102003451      1
1835  102003549      1

[1836 rows x 2 columns]

Step 2 - Group the Data frame by the Roll Num column by  use of groupby() and using sum() to add same key values

In [ ]:
# Group the DataFrame by the 'Roll Num' column and sum the 'Marks' column
df_sum= df.groupby('Roll Num')['Marks'].sum()

# Print the summed DataFrame
print(df_sum)

Roll Num
102003001    3
102003002    5
102003017    5
102003018    5
102003029    5
            ..
102196010    4
102197016    5
102197018    4
102197019    5
102197021    5
Name: Marks, Length: 400, dtype: int64

Step 3 - Export the Dataframe into CSV file

In [ ]:
# export the dataframe to a CSV file
df_sum.to_csv('Total marks after adding.csv')

Complete code

In [ ]:
import pandas as pd


# Read the Excel file
df = pd.read_csv('/content/Mini Project - Marks Adding.csv')

# Print the DataFrame
print(df)

# Group the DataFrame by the 'Roll Num' column and sum the 'Marks' column
df_sum= df.groupby('Roll Num')['Marks'].sum()

# Print the summed DataFrame
print(df_sum)

# export the dataframe to a CSV file
df_sum.to_csv('Total marks after adding.csv')

       Roll Num  Marks
0     102003542      1
1     102003640      1
2     102003725      1
3     102003307      1
4     102003458      1
...         ...    ...
1831  102003755      1
1832  102017147      1
1833  102017152      1
1834  102003451      1
1835  102003549      1

[1836 rows x 2 columns]
Roll Num
102003001    3
102003002    5
102003017    5
102003018    5
102003029    5
            ..
102196010    4
102197016    5
102197018    4
102197019    5
102197021    5
Name: Marks, Length: 400, dtype: int64